html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#logo {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;      
    display: block;
    margin-left: 150px;
    z-index: 100;  
}

body {
    flex: 1 1 auto;
    margin: 0;
}

.logo {
    width: 120px; 
    border:10px solid white;
}

.slider {
    place-items: center center;
   height: 120%;
    width: 120%;
    /*clip-path: polygon(0 0, 100% 0, 100% 450px, 0 450px);*/
    border: solid white 0;
    z-index: -1;
}

.container {
    display: grid;
    position: relative;
    grid-template-columns:20px 30px 1fr 1fr 1fr 30px 20px;
    grid-template-rows: 20px 40px 450px auto auto auto 30px;
    justify-content: space-evenly;
    grid-auto-rows: min-content;
    /* place-items: center center;*/
    /*align-content:center;*/

    /*grid-gap: 10px;*/

    top: 0px;
    left: 0px;
    width: 100%;
    font-family: Candara, georgia, sans-serif;

} 

/*--------NAV STYLES--------*/
.topNav {
    grid-column-start:1;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: auto; /*3*/
    display: block;
    z-index: 10;
    background-color: #395c18;
    place-items: center center;
    position: relative;
}

.hamburger {
    display: none;
}

.nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    float: right;
}
.nav li{
    display: inline-block;
    /*margin-left: 130px;*/
    /* padding-top: 10px;
     padding-bottom: 10px;*/

}

.nav a:link, .nav a:visited {
    display: block;
    /* width: 180px;*/
    /*text-transform: uppercase;*/
    text-decoration: none;
    text-align: center;
    background-color: #395c18;
    color: #c3d284;
    font-family: Candara, georgia, sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 10px;


}
.nav a:hover, nav a:active {
    background-color: #95a453;
    color: #395c18;
}

.mainImage {
    grid-column-start:1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

}
.mainImage1 {
    grid-column-start:1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.mainImage2 {
    grid-column-start:1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.mainImage3 {
    grid-column-start:1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.mainImage4 {
    grid-column-start:1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(../img/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.mainImage5 {
    grid-column-start:1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(../img/bg5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}


.mainImage h1, .mainImage1 h1, .mainImage2 h1, .mainImage3 h1, .mainImage4 h1, .mainImage5 h1 {
    z-index: 10;
    color: rgba(255,255,255,.7);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: right;
    font-size: 5em;
    font-family: Candara, georgia, sans-serif;
    font-style: italic;
    margin-top: 300px;
    margin-right: 30px;   
    margin-bottom: 0;

}

#transparent {
    font-family: Candara, georgia, sans-serif;
    color: aaa;
    background-color: rgba(255,255,255, .6);
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
    z-index: 2;
    width: 100%;
    margin-top: 100px;
    padding: 15px;
}
/*
.h1{
    color: rgba(255,255,255,.7);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #395c18;
}*/



.imgBox{
    place-items: center center;
    width: 95%;
    height: auto;
    border: 10px solid #ffffff;
    z-index: -1;
}

.p {
    width: 95%;
    height: auto;
    margin-left: 2%;
}

button {
    background-color: #eee;
    width: 200px;
    padding: 10px;
    border: #95a453 solid;
    place-items: center center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 2;
    font-family: Candara, georgia, sans-serif;
    font-style: italic;
    font-size: large;
}

.container a:link, button a:visited{
    display: block;
    text-decoration: none;
}

.mainContent {
    grid-column-start:3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}

.mainContent h1, .mainContent2 h1 {
    font-family: Candara, georgia, sans-serif;
    font-style: italic;
    font-size: xlarge;
    color: #7cae4d;


}
.mainContent h2, .mainContent2 h2 {
    font-family: Candara, georgia, sans-serif;
    font-size: large;
    color: #395c18;
}

.mainContent p, .mainContent2 p{
    font-family: Candara, georgia, sans-serif;
    font-size: large;
    color: #395c18;
}

.mainContent2 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start:3;
    grid-column-end: 6;
}

.twoColumnLeft {
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 20px;

}

.twoColumnLeft img {
    place-items: center center;
    width: 400px;
    height: auto;
    border: 10px solid #ffffff;    
    z-index: 1;

}



.twoColumnRight {
    grid-column-start:4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 20px;
}
.twoColumnRight h2{
    font-family: Candara, georgia, sans-serif;
    font-size: xlarge;
    color: #395c18;
    font-weight: bold;
}
#goBack {
    color: #395c18;
    font-weight: bold;
}
.twoColumnLeftAC{
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 20px;
}
.twoColumnRightAC{
    grid-column-start:4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 20px;
}
.twoColumnLeft img, .twoColumnLeftAC img {
    place-items: center center;
    width: 400px;
    height: auto;
    border: 10px solid #ffffff;    
    z-index: 1;}




footer {
    flex: 1 1 auto;
    background-color: #395c18;
    color: #c3d284;
    font-weight: bold;
    font-family: Candara, georgia, sans-serif;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    vertical-align: central;
    width: 100%;
    height: auto;
}

.socialMedia {
    flex: 1 1 auto;
    width: 50%;
    text-align: center;
    flex-shrink: 1;
    font-size: 2em;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.socialMedia li {
    flex: 1 1 auto;
    flex-shrink: 1;
    list-style-type: none;
    display: inline-block;
    letter-spacing: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

.socialMedia a:link, .socialMedia a:visited {
    text-decoration: none;
    text-align: center;
    background-color: #395c18;
    color: #c3d284;
}
.socialMedia a:hover, .socialMedia a:active {
    color: white;
    transition: .3s;
 
}

.copyright {
    flex: 1 1 auto;
    width: 50%;
    text-align: right;
    margin-right: 2em;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.3em;
    color: #c3d284;
}

.row1-col1 {
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    /*justify-self: center;*/
    /*justify-items: center;*/
    /* background-image: url(img/adventure.jpg); 
     background-repeat: no-repeat;
     background-position: center;*/

}
.row1-col2 {
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;

}
.row1-col3 {
    grid-column-start:5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;

}

.row2-col1 {
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;


}
.row2-col2 {
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;

}
.row2-col3 {
    grid-column-start:5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;

}
.row3-col1 {
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;


}
.row3-col2 {
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;

}
.row3-col3 {
    grid-column-start:5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
}
.gallery {
    grid-column-start:1;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 8; 
}

@Media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .topNav {
        display: block;
        position: relative;
    }
    .logo {
        top:0;
        left:0;
        position: absolute;
    }

    /* Style the hamburger menu */
    .nav li{
        width: 100%;
        text-align: right;
    }

    .hamburger {
        padding-top: 1.3em;
        padding-bottom: 1.3em;
        padding-left: 1.3em;
        padding-right: 0;
        margin-right: 0;
        display: block;
        width: 100%;
        background-image: url('../img/213C08.jpg');
    }
    .topNav a.icon {
        background:#395c18;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 2em;
        color: #95a453;
    }
    .nav{
        display: none;
    }
    .nav a:link, .nav a:visited {
        text-align: right;
    }
    
    footer {
        flex-direction: column;
        text-align: center;
    }
    
    .socialMedia {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
    }
    
    .copyright {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        vertical-align: middle;
        font-size: 1.1em;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 0;
    }
    p, h1 {
        padding-left: 3%;
        padding-right: 3%;
    }
    h1 {
        font-size: 150%;
    }
    .mainImage h1, .mainImage1 h1, .mainImage2 h1, .mainImage3 h1, .mainImage4 h1, .mainImage5 h1 {
        font-size: 200%;
        padding-bottom: 10%;   
    }

}
